'use strict';

class ServerConfig {
    constructor() {
        this.mInt_serverPort = ****;
        this.mObj_mySQLConfig = {
            host        : '****',
            user        : '****',
            password    : '****',
            database    : '****'
        };
		this.mStr_SMTPTransport = '****';
		this.mStr_mailFrom = '****';
    };

    getServerPort() {
        return this.mInt_serverPort;
    };

    getMySQLConfig() {
        return this.mObj_mySQLConfig;
    };
	
	getSMTPTransport() {
		return this.mStr_SMTPTransport;
	};
	
	getMailFrom() {
		return this.mStr_mailFrom;
	};
};

module.exports = ServerConfig;
